<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <style>
        body{
            background-color:lightcyan;
        }
    </style>
</head>
<body>

    <h1 style="text-align: center; background-color: cornflowerblue;">We're glad to have you on the journey!</h1>
    <div style="width: 250px;height: 150px;position: absolute;top: 30%;left: 48%;margin: -35px 0 0 -35px; border:chocolate; border-width: thin; ">
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}<br>
        {{ form.submit }}
    </form>
    <div  style="text-align: center;"><br>
    <a href="{{url_for('login')}}">Already have an account?</a>
    </div>
</body>
</html>